
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-success">Spor Toto Süper Lig Puan Durumu</button>
 
  
</div>

<!-- Split button -->
<div class="btn-group g">
  <button type="button" class="btn btn-warning hafta">Hafta</button>
  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a class="alar" id="bir" href="#">1.Hafta</a></li>
    <li><a class="alar" id ="iki"href="#">2.Hafta</a></li>
    <li><a href="#">3.Hafta</a></li> 
  </ul>
</div>

<table class="table puan iki">
    <thead>
      <tr>
	  <th>Takım</th>
        <th>O</th>
        <th>G</th>
        <th>B</th>
		<th>M</th>
		<th>A</th>
		<th>Y</th>
		<th>Av</th>
		<th>P</th>
      </tr>
    </thead>
    <tbody>
      <tr class="success">
		<td>{{genel_sıra.0.3.0.name}}</td>
        <td>{{genel_sıra.0.3.0.durum.0}}</td>
        <td>{{genel_sıra.0.3.0.durum.1}}</td>
        <td>{{genel_sıra.0.3.0.durum.2}}</td>
		<td>{{genel_sıra.0.3.0.durum.3}}</td>
        <td>{{genel_sıra.0.3.0.durum.4}}</td>
        <td>{{genel_sıra.0.3.0.durum.5}}</td>
		<td>{{genel_sıra.0.3.0.durum.6}}</td>
		<td>{{genel_sıra.0.3.0.durum.7}}</td>
      </tr>      
      <tr class="success">
        <td>{{genel_sıra.0.2.0.name}}</td>
        <td>{{genel_sıra.0.2.0.durum.0}}</td>
        <td>{{genel_sıra.0.2.0.durum.1}}</td>
        <td>{{genel_sıra.0.2.0.durum.2}}</td>
		<td>{{genel_sıra.0.2.0.durum.3}}</td>
        <td>{{genel_sıra.0.2.0.durum.4}}</td>
        <td>{{genel_sıra.0.2.0.durum.5}}</td>
		<td>{{genel_sıra.0.2.0.durum.6}}</td>
		<td>{{genel_sıra.0.2.0.durum.7}}</td>
      </tr>
      <tr class="danger">
       <td>{{genel_sıra.0.1.0.name}}</td>
        <td>{{genel_sıra.0.1.0.durum.0}}</td>
        <td>{{genel_sıra.0.1.0.durum.1}}</td>
        <td>{{genel_sıra.0.1.0.durum.2}}</td>
		<td>{{genel_sıra.0.1.0.durum.3}}</td>
        <td>{{genel_sıra.0.1.0.durum.4}}</td>
        <td>{{genel_sıra.0.1.0.durum.5}}</td>
		 <td>{{genel_sıra.0.1.0.durum.6}}</td>
		 <td>{{genel_sıra.0.1.0.durum.7}}</td>
      </tr>
      <tr class="info">
        <td>{{genel_sıra.0.0.0.name}}</td>
        <td>{{genel_sıra.0.0.0.durum.0}}</td>
        <td>{{genel_sıra.0.0.0.durum.1}}</td>
        <td>{{genel_sıra.0.0.0.durum.2}}</td>
		<td>{{genel_sıra.0.0.0.durum.3}}</td>
        <td>{{genel_sıra.0.0.0.durum.4}}</td>
        <td>{{genel_sıra.0.0.0.durum.5}}</td>
		<td>{{genel_sıra.0.0.0.durum.6}}</td>
		<td>{{genel_sıra.0.0.0.durum.7}}</td>
      </tr>
     
    </tbody>
  </table>
  <div class="row">
<div class="col-md-6">

<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-success">Ev Sahibi</button>
 
  
</div>



<table class="table puan iki">
    <thead>
      <tr>
	  <th>Takım</th>
        <th>O</th>
        <th>G</th>
        <th>B</th>
		<th>M</th>
		<th>A</th>
		<th>Y</th>
		<th>Av</th>
		<th>P</th>
      </tr>
    </thead>
    <tbody>
      <tr class="success">
		<td>{{genel_sıra.0.3.0.name}}</td>
        <td>{{genel_sıra.0.3.0.durum.8}}</td>
        <td>{{genel_sıra.0.3.0.durum.9}}</td>
        <td>{{genel_sıra.0.3.0.durum.10}}</td>
		<td>{{genel_sıra.0.3.0.durum.11}}</td>
        <td>{{genel_sıra.0.3.0.durum.12}}</td>
        <td>{{genel_sıra.0.3.0.durum.13}}</td>
		<td>{{genel_sıra.0.3.0.durum.14}}</td>
		<td>{{genel_sıra.0.3.0.durum.15}}</td>
      </tr>      
      <tr class="success">
        <td>{{genel_sıra.0.2.0.name}}</td>
        <td>{{genel_sıra.0.2.0.durum.8}}</td>
        <td>{{genel_sıra.0.2.0.durum.9}}</td>
        <td>{{genel_sıra.0.2.0.durum.10}}</td>
		<td>{{genel_sıra.0.2.0.durum.11}}</td>
        <td>{{genel_sıra.0.2.0.durum.12}}</td>
        <td>{{genel_sıra.0.2.0.durum.13}}</td>
		<td>{{genel_sıra.0.2.0.durum.14}}</td>
		<td>{{genel_sıra.0.2.0.durum.15}}</td>
      </tr>
      <tr class="danger">
       <td>{{genel_sıra.0.1.0.name}}</td>
        <td>{{genel_sıra.0.1.0.durum.8}}</td>
        <td>{{genel_sıra.0.1.0.durum.9}}</td>
        <td>{{genel_sıra.0.1.0.durum.10}}</td>
		<td>{{genel_sıra.0.1.0.durum.11}}</td>
        <td>{{genel_sıra.0.1.0.durum.12}}</td>
        <td>{{genel_sıra.0.1.0.durum.13}}</td>
		<td>{{genel_sıra.0.1.0.durum.14}}</td>
		<td>{{genel_sıra.0.1.0.durum.15}}</td>
      </tr>
      <tr class="info">
        <td>{{genel_sıra.0.0.0.name}}</td>
        <td>{{genel_sıra.0.0.0.durum.8}}</td>
        <td>{{genel_sıra.0.0.0.durum.9}}</td>
        <td>{{genel_sıra.0.0.0.durum.10}}</td>
		<td>{{genel_sıra.0.0.0.durum.11}}</td>
        <td>{{genel_sıra.0.0.0.durum.12}}</td>
        <td>{{genel_sıra.0.0.0.durum.13}}</td>
		<td>{{genel_sıra.0.0.0.durum.14}}</td>
		<td>{{genel_sıra.0.0.0.durum.15}}</td>
      </tr
	 </tbody>
  </table>
</div>

<div class="col-md-6">

<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-success">Deplasman</button>
 
  
</div>
<table class="table puan iki">
    <thead>
      <tr>
	  <th>Takım</th>
        <th>O</th>
        <th>G</th>
        <th>B</th>
		<th>M</th>
		<th>A</th>
		<th>Y</th>
		<th>Av</th>
		<th>P</th>
      </tr>
    </thead>
    <tbody>
      <tr class="success">
		<td>{{genel_sıra.0.3.0.name}}</td>
        <td>{{genel_sıra.0.3.0.durum.16}}</td>
        <td>{{genel_sıra.0.3.0.durum.17}}</td>
        <td>{{genel_sıra.0.3.0.durum.18}}</td>
		<td>{{genel_sıra.0.3.0.durum.19}}</td>
        <td>{{genel_sıra.0.3.0.durum.20}}</td>
        <td>{{genel_sıra.0.3.0.durum.21}}</td>
		<td>{{genel_sıra.0.3.0.durum.22}}</td>
		<td>{{genel_sıra.0.3.0.durum.23}}</td>
      </tr>      
      <tr class="success">
        <td>{{genel_sıra.0.2.0.name}}</td>
        <td>{{genel_sıra.0.2.0.durum.16}}</td>
        <td>{{genel_sıra.0.2.0.durum.17}}</td>
        <td>{{genel_sıra.0.2.0.durum.18}}</td>
		<td>{{genel_sıra.0.2.0.durum.19}}</td>
        <td>{{genel_sıra.0.2.0.durum.20}}</td>
        <td>{{genel_sıra.0.2.0.durum.21}}</td>
		<td>{{genel_sıra.0.2.0.durum.22}}</td>
		<td>{{genel_sıra.0.2.0.durum.23}}</td>
      </tr>
      <tr class="danger">
       <td>{{genel_sıra.0.1.0.name}}</td>
        <td>{{genel_sıra.0.1.0.durum.16}}</td>
        <td>{{genel_sıra.0.1.0.durum.17}}</td>
        <td>{{genel_sıra.0.1.0.durum.18}}</td>
		<td>{{genel_sıra.0.1.0.durum.19}}</td>
        <td>{{genel_sıra.0.1.0.durum.20}}</td>
        <td>{{genel_sıra.0.1.0.durum.21}}</td>
		 <td>{{genel_sıra.0.1.0.durum.22}}</td>
		 <td>{{genel_sıra.0.1.0.durum.23}}</td>
      </tr>
      <tr class="info">
        <td>{{genel_sıra.0.0.0.name}}</td>
        <td>{{genel_sıra.0.0.0.durum.16}}</td>
        <td>{{genel_sıra.0.0.0.durum.17}}</td>
        <td>{{genel_sıra.0.0.0.durum.18}}</td>
		<td>{{genel_sıra.0.0.0.durum.19}}</td>
        <td>{{genel_sıra.0.0.0.durum.20}}</td>
        <td>{{genel_sıra.0.0.0.durum.21}}</td>
		<td>{{genel_sıra.0.0.0.durum.22}}</td>
		<td>{{genel_sıra.0.0.0.durum.23}}</td>
      </tr>
	  </tbody>
  </table>
  </div>
</div>
   {% include 'hafta1.html'%}