{% extends 'base.html' %}
{% load static %}
{% block csss %} rel="stylesheet" href="{% static 'css/ligler/style.css' %}"  {% endblock %}
{% block body%}
{% include 'header.html'%}
<body>
<div class="container">	
<!-- Küçük Puan Durumu -->
<div class ="row">
<div class="col-md-8">
<!-- Tekli düğme -->
<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#Puan">Puan Durumu</a></li>
			<li><a data-toggle="tab" href="#fikstur">Fikstür</a></li>
			<li><a data-toggle="tab" href="#FB">İstatistikler</a></li>
			<li><a data-toggle="tab" href="#GS">GS</a></li>
			<li><a data-toggle="tab" href="#TS">TS</a></li>
			  
		</ul>
		
<div class="tab-content">
	<div id="Puan" class="tab-pane fade in active">
	 {% include 'ligler/superlig/genel_sıra.html'%}
	</div>
	
	
<div id="fikstur" class="tab-pane fade">
	{% include 'ligler/superlig/genel_fikstur.html'%}
</div>




</div>
  
<h1>{{a.0}}</h1>
<h4>{{sıra1}}</h4>
<h4>{{sıra}}</h4>
<h4>{{sıralama}}</h4>
<h4>{{genel_sıra}}</h4>
<h4>{{genel_sıra.0.0.0.durum.0}}</h4>
<!-- Fikstür -->
</div><!-- col -->

<div class="col-md-4">


</div>
</div><!-- row -->
</div><!-- container son -->

</body>
<h1></h1>

<script>
$(document).ready(function(){
  
  
   $(".alar").click(function(){
        $(".puan").hide();
		$("." + $(this).attr("id")).show();
		$(".hafta").text($(this).text());
		 
    });
  
   $(".maclarım").click(function(){
        $(this).children('tr').toggle();
		$(this).children('.goster').show();
		 
    });
  
  
});



</script>

	{% endblock %}	





				
				
				
				
				
				
				
				
			
				
				
				
			
				
				
				
			
				
				
				
			
				
				
				
			
				
				
				
			
				
				
			
				
				
				
				
				
				
		
		





