				
				<button type="button" class="btn btn-success btn-xs" aria-label="Left Align">
					<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
				</button>
				
				<button type="button" class="btn btn-danger btn-xs" aria-label="Left Align">
					<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
				</button>
				<a href="{{ sosyal.get_absolute_url }}"type="button" class="btn btn-primary btn-xs">Yorum Ekle</a>	
				<a class="btn btn-info btn-xs yorumlar" type="button">Yorumlar <span class="badge">{{sosyal.comments.count}}</span></a>