<table class="table puan bir">
    <thead>
      <tr>
	  <th>Takım</th>
        <th>O</th>
        <th>G</th>
        <th>B</th>
		<th>M</th>
		<th>A</th>
		<th>Y</th>
		<th>Av</th>
		<th>P</th>
      </tr>
      </tr>
    </thead>
    <tbody>
      <tr class="success">
		<td>{{genel_sıra.1.3.0.name}}</td>
        <td>{{genel_sıra.1.3.0.durum.0}}</td>
        <td>{{genel_sıra.1.3.0.durum.1}}</td>
        <td>{{genel_sıra.1.3.0.durum.2}}</td>
		<td>{{genel_sıra.1.3.0.durum.3}}</td>
        <td>{{genel_sıra.1.3.0.durum.4}}</td>
        <td>{{genel_sıra.1.3.0.durum.5}}</td>
		 <td>{{genel_sıra.1.3.0.durum.6}}</td>
        <td>{{genel_sıra.1.3.0.durum.7}}</td>
      </tr>      
      <tr class="success">
        <td>{{genel_sıra.1.2.0.name}}</td>
        <td>{{genel_sıra.1.2.0.durum.0}}</td>
        <td>{{genel_sıra.1.2.0.durum.1}}</td>
        <td>{{genel_sıra.1.2.0.durum.2}}</td>
		<td>{{genel_sıra.1.2.0.durum.3}}</td>
        <td>{{genel_sıra.1.2.0.durum.4}}</td>
        <td>{{genel_sıra.1.2.0.durum.5}}</td>
		<td>{{genel_sıra.1.2.0.durum.6}}</td>
        <td>{{genel_sıra.1.2.0.durum.7}}</td>
      </tr>
      <tr class="danger">
       <td>{{genel_sıra.1.1.0.name}}</td>
        <td>{{genel_sıra.1.1.0.durum.0}}</td>
        <td>{{genel_sıra.1.1.0.durum.1}}</td>
        <td>{{genel_sıra.1.1.0.durum.2}}</td>
		<td>{{genel_sıra.1.1.0.durum.3}}</td>
        <td>{{genel_sıra.1.1.0.durum.4}}</td>
        <td>{{genel_sıra.1.1.0.durum.5}}</td>
		<td>{{genel_sıra.1.1.0.durum.6}}</td>
        <td>{{genel_sıra.1.1.0.durum.7}}</td>
      </tr>
      <tr class="info">
        <td>{{genel_sıra.1.0.0.name}}</td>
        <td>{{genel_sıra.1.0.0.durum.0}}</td>
        <td>{{genel_sıra.1.0.0.durum.1}}</td>
        <td>{{genel_sıra.1.0.0.durum.2}}</td>
		<td>{{genel_sıra.1.0.0.durum.3}}</td>
        <td>{{genel_sıra.1.0.0.durum.4}}</td>
        <td>{{genel_sıra.1.0.0.durum.5}}</td>
		<td>{{genel_sıra.1.0.0.durum.6}}</td>
        <td>{{genel_sıra.1.0.0.durum.7}}</td>
      </tr>
     
    </tbody>
  </table>