{% load static %}


<!-- ilk row -->
{% include 'maclar.html' %}

	<div class="row">
	<!-- col-md-8 -->
		<div class="col-md-7 col-sm-7">
		
		<!-- Slider main container -->

		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#genel">FZ</a></li>
			<li><a data-toggle="tab" href="#BJK">BJK</a></li>
			<li><a data-toggle="tab" href="#FB">FB</a></li>
			<li><a data-toggle="tab" href="#GS">GS</a></li>
			<li><a data-toggle="tab" href="#TS">TS</a></li>
			  
		</ul>
		

  <div class="tab-content">
    <div id="genel" class="tab-pane fade in active">
    
	  <div class="row">
		
	  
					<div class=" col-xs-12 col-md-12 col-sm-12"> <!-- Kim Ne Demiş Köşesi başı -->
					{% for sosyal in sosyaller2 %}
					
					<div class="media">
					<div class="media-left media-top">
						<img class="media-object" src="{{ sosyal.isim.image.url }}" alt="...">
					</div>
					<div class="media-body">
					<!--<h4>{{sosyal.isim}}</h4> -->
					<p class="ert"><b>{{sosyal.isim}}:</b> "{{sosyal.content1 |truncatechars:200}}".</p>
					
					
					
				</div>
				<div class="abc"> <p> {{sosyal.content2 }}<p>
				<p><b>{{sosyal.publishing_date|timesince}} önce</b></p>
				
				
				
				
				</div>
				
				</div>

				{% include 'buttons.html' %}
				{% include 'yorum.html' %}
			
				
				
				
				{% endfor %}
				
		


			</div><!-- Kim Ne Demiş Köşesi sonu -->
			
				<div class="col-xs-12 col-md-6 col-sm-6"> <!-- Kim Ne Demiş Köşesi başı -->
				{% for sosyal in sosyaller1 %}
				<div class="media">
					<div class="media-left media-top">
						<img class="media-object" src="{{ sosyal.isim.image.url }}" alt="...">
					</div>
				<div class="media-body">
						<h4>{{sosyal.isim}}</h4>
					<p class="ert">{{sosyal.content1 |truncatechars:50}}</p>
					
				</div>
				<div class="abc"> <p> {{sosyal.content2 }}<p> <p><b>{{sosyal.publishing_date|timesince}} önce</b></p>  </div>
					
				</div>
				{% include 'buttons.html' %}
				{% include 'yorum.html' %}
				
				<div class="aaa">
				
				
				<ul class="list-group">
				{% for yorum in sosyal.comments.all %}
				<li class="list-group-item">"{{yorum.content}}"<br><div class="text-center"><b>---<cite>{{yorum.name}}--- <small>{{yorum.created_date}}</small></cite></b></div>
				</li>
				{% endfor %}
				</ul>
 
				
				</div>
				
				
				
				{% endfor %}
				
				
				
			</div><!-- Kim Ne Demiş Köşesi sonu -->

		
	</div>
	 {% include 'sayfalama.html' %}
    </div>
    <div id="BJK" class="tab-pane fade">
      <div class="row">
					<div class="col-md-6 col-sm-6"> <!-- Kim Ne Demiş Köşesi başı -->
					{% for sosyal in bjk2 %}
					<div class="media">
					<div class="media-left media-top">
						<img class="media-object" src="{{ sosyal.isim.image.url }}" alt="...">
					</div>
					<div class="media-body">
						<h4>{{sosyal.isim}}</h4>
					<p class="ert">{{sosyal.content1 |truncatechars:50}}</p>
					
				</div>
				<div class="abc"> <p> {{sosyal.content2 }}<p> <p><b>{{sosyal.publishing_date|timesince}} önce</b></p>  </div>
					
				</div>
				{% include 'buttons.html' %}
				{% include 'yorum.html' %}
				{% endfor %}
			</div><!-- Kim Ne Demiş Köşesi sonu -->
			
				<div class="col-md-6 col-sm-6"> <!-- Kim Ne Demiş Köşesi başı -->
				{% for sosyal in bjk1 %}
				<div class="media">
					<div class="media-left media-top">
						<img class="media-object" src="{{ sosyal.isim.image.url }}" alt="...">
					</div>
				<div class="media-body">
						<h4>{{sosyal.isim}}</h4>
					<p class="ert">{{sosyal.content1 |truncatechars:50}}</p>
					
				</div>
				<div class="abc"> <p> {{sosyal.content2 }}<p>  <p><b>{{sosyal.publishing_date|timesince}} önce</b></p> </div>
					
				</div>
				{% include 'buttons.html' %}
				{% include 'yorum.html' %}
				{% endfor %}
	
			</div><!-- Kim Ne Demiş Köşesi sonu -->

	</div>
	 {% include 'sayfalama_bjk.html' %}
    </div>
    <div id="FB" class="tab-pane fade">
        <div class="row">
					<div class="col-md-6 col-sm-6"> <!-- Kim Ne Demiş Köşesi başı -->
					{% for sosyal in fb2 %}
					<div class="media">
					<div class="media-left media-top">
						<img class="media-object" src="{{ sosyal.isim.image.url }}" alt="...">
					</div>
					<div class="media-body">
						<h4>{{sosyal.isim}}</h4>
					<p class="ert">{{sosyal.content1 |truncatechars:50}}</p>
					
				</div>
				<div class="abc"> <p> {{sosyal.content2 }}<p>  <p><b>{{sosyal.publishing_date|timesince}} önce</b></p> </div>
					
				</div>
				{% include 'buttons.html' %}
				{% include 'yorum.html' %}
				{% endfor %}
			</div><!-- Kim Ne Demiş Köşesi sonu -->
			
				<div class="col-md-6 col-sm-6"> <!-- Kim Ne Demiş Köşesi başı -->
				{% for sosyal in fb1 %}
				<div class="media">
					<div class="media-left media-top">
						<img class="media-object" src="{{ sosyal.isim.image.url }}" alt="...">
					</div>
				<div class="media-body">
						<h4>{{sosyal.isim}}</h4>
					<p class="ert">{{sosyal.content1 |truncatechars:50}}</p>
					
				</div>
				<div class="abc"> <p> {{sosyal.content2 }}<p> <p><b>{{sosyal.publishing_date|timesince}} önce</b></p>  </div>
					
				</div>
				{% include 'buttons.html' %}
				{% include 'yorum.html' %}
				{% endfor %}
			</div><!-- Kim Ne Demiş Köşesi sonu -->

	</div>
    </div>
    <div id="GS" class="tab-pane fade">
     <div class="row">
					<div class="col-md-6 col-sm-6"> <!-- Kim Ne Demiş Köşesi başı -->
					{% for sosyal in gs2 %}
					<div class="media">
					<div class="media-left media-top">
						<img class="media-object" src="{{ sosyal.isim.image.url }}" alt="...">
					</div>
					<div class="media-body">
						<h4>{{sosyal.isim}}</h4>
					<p class="ert">{{sosyal.content1 |truncatechars:50}}</p>
					
				</div>
				<div class="abc"> <p> {{sosyal.content2 }}<p>  <p><b>{{sosyal.publishing_date|timesince}} önce</b></p> </div>
					
				</div>
				{% include 'buttons.html' %}
				{% include 'yorum.html' %}
				{% endfor %}
			</div><!-- Kim Ne Demiş Köşesi sonu -->
			
				<div class="col-md-6 col-sm-6"> <!-- Kim Ne Demiş Köşesi başı -->
				{% for sosyal in gs1 %}
				<div class="media">
					<div class="media-left media-top">
						<img class="media-object" src="{{ sosyal.isim.image.url }}" alt="...">
					</div>
				<div class="media-body">
						<h4>{{sosyal.isim}}</h4>
					<p class="ert">{{sosyal.content1 |truncatechars:50}}</p>
					
				</div>
				<div class="abc"> <p> {{sosyal.content2 }}<p>  <p><b>{{sosyal.publishing_date|timesince}} önce</b></p> </div>
					
				</div>
				{% include 'buttons.html' %}
				{% include 'yorum.html' %}
				{% endfor %}
			</div><!-- Kim Ne Demiş Köşesi sonu -->

	</div>
    </div>
	<div id="TS" class="tab-pane fade">
      <div class="row">
					<div class="col-md-6 col-sm-6"> <!-- Kim Ne Demiş Köşesi başı -->
					{% for sosyal in ts2 %}
					<div class="media">
					<div class="media-left media-top">
						<img class="media-object" src="{{ sosyal.isim.image.url }}" alt="...">
					</div>
					<div class="media-body">
						<h4>{{sosyal.isim}}</h4>
					<p class="ert">{{sosyal.content1 |truncatechars:50}}</p>
					
				</div>
				<div class="abc"> <p> {{sosyal.content2 }}<p>  <p><b>{{sosyal.publishing_date|timesince}} önce</b></p> </div>
					
				</div>
				{% include 'buttons.html' %}
				{% include 'yorum.html' %}
				{% endfor %}
			</div><!-- Kim Ne Demiş Köşesi sonu -->
			
				<div class="col-md-6 col-sm-6"> <!-- Kim Ne Demiş Köşesi başı -->
				{% for sosyal in ts1 %}
				<div class="media">
					<div class="media-left media-top">
						<img class="media-object" src="{{ sosyal.isim.image.url }}" alt="...">
					</div>
				<div class="media-body">
						<h4>{{sosyal.isim}}</h4>
					<p class="ert">{{sosyal.content1 |truncatechars:50}}</p>
					
				</div>
				<div class="abc"> <p> {{sosyal.content2 }}<p>   
					<p><b>{{sosyal.publishing_date|timesince}} önce</b></p>
				</div>
				
				</div>
				{% include 'buttons.html' %}
				{% include 'yorum.html' %}
				{% endfor %}
			</div><!-- Kim Ne Demiş Köşesi sonu -->

	</div>
    </div>
  </div>

		
		
		
			
			
			
			
			
			
			
			
			
			
			
			
			
			 
			
		
		
		<div class="row">
		
			{% include 'ikinci_row.html' %}  <!-- 12 ile 21 arası haberler burda -->
			
		</div>
			
		</div> <!-- col md-8 sonu -->
		
		
		<div class="col-md-6">
		<div class="row">
	
		</div>
		</div>
	
		</div><!-- ilk row sonu -->
		
			
			
			
		
	
	
<script>
$(document).ready(function(){
    $(".media").click(function(){
        $(this).children('.abc').toggle();
		 
    });
	
	
	 $(".yorumlar").click(function(){
        $(this).next().toggle();
    });
	
	
	
    
});

</script>



	
