{% load static %}

<div class="row logolar">
  
  <div class="mac col-md-12 col-xs-12">
  <div class="bbb"> 
  <div class="kkkk"><img src="{%static 'img/logolar/gs.png'%}" class="img-responsive" alt="Responsive image"><br><span class="badge eee">42</span></div>
  <div class="kkkk"><img src="{%static 'img/logolar/basaksehir.png'%}" class="img-responsive" alt="Responsive image"><span class="badge eee">42</span></div>
  <div class="kkkk"><img src="{%static 'img/logolar/bjk.png'%}" class="img-responsive" alt="Responsive image"><span class="badge eee">42</span></div>
  <div class="kkkk"><img src="{%static 'img/logolar/fb.png'%}" class="img-responsive" alt="Responsive image"><span class="badge eee">42</span></div>
  <div class="kkkk"><img src="{%static 'img/logolar/kayseri.png'%}" class="img-responsive" alt="Responsive image"><span class="badge eee">42</span></div>
  <div class="kkkk"><img src="{%static 'img/logolar/ts.png'%}" class="img-responsive" alt="Responsive image"><span class="badge eee">42</span></div>
  <div class="kkkk"><img src="{%static 'img/logolar/goztepe.png'%}" class="img-responsive" alt="Responsive image"><span class="badge eee">42</span></div>
  <div class="kkkk"><img src="{%static 'img/logolar/sivas.png'%}" class="img-responsive" alt="Responsive image"><span class="badge eee">42</span></div>
  <div class="kkkk"><img src="{%static 'img/logolar/malatya.png'%}" class="img-responsive" alt="Responsive image"><span class="badge eee">42</span></div>
  <div class="kkkk"><img src="{%static 'img/logolar/akhisar.png'%}" class="img-responsive" alt="Responsive image"><span class="badge eee">42</span></div>
  <div class="kkkk"><img src="{%static 'img/logolar/kasımpasa.png'%}" class="img-responsive" alt="Responsive image"><span class="badge eee">42</span></div>
   <div class="kkkk"><img src="{%static 'img/logolar/bursa.png'%}" class="img-responsive" alt="Responsive image"><span class="badge eee">42</span></div>
   <div class="kkkk"><img src="{%static 'img/logolar/gencler.png'%}" class="img-responsive" alt="Responsive image"><span class="badge eee">42</span></div>
   <div class="kkkk"><img src="{%static 'img/logolar/antalya.png'%}" class="img-responsive" alt="Responsive image"><span class="badge eee">42</span></div>
   <div class="kkkk"><img src="{%static 'img/logolar/alanya.png'%}" class="img-responsive" alt="Responsive image"><span class="badge eee">42</span></div>
  <div class="kkkk"> <img src="{%static 'img/logolar/konya.png'%}" class="img-responsive" alt="Responsive image"><span class="badge eee">42</span></div>
   <div class="kkkk"><img src="{%static 'img/logolar/osmanlı.png'%}" class="img-responsive" alt="Responsive image"><span class="badge eee">42</span></div>
   <div class="kkkk"><img src="{%static 'img/logolar/katabuk.png'%}" class="img-responsive" alt="Responsive image"><span class="badge eee">42</span></div>
  </div>

</div>
</div>