	<div class="col-md-12">
			<div class="thumbnail">
				<img src="{%static 'img/resim11.jpg'%}" class="img-resposive"alt="Nature" style="width:100%">
				<div class="caption">
				<p>Yorgancı Köyünden Güzel bir bahçe daha</p>
				</div>
        
			</div>
		</div>
		
		<div class="col-md-12">
			<div class="thumbnail">
				<img src="{%static 'img/resim11.jpg'%}" class="img-resposive"alt="Nature" style="width:100%">
				<div class="caption">
				<p>Yorgancı Köyünden Güzel bir bahçe daha</p>
				</div>
        
			</div>
		</div>