<ul class="nav nav-tabs ikinci-tabs">
				<li class="active"><a data-toggle="tab" href="#maclar">Super Lig Maçları</a></li>
				<li><a data-toggle="tab" href="#TV">TV</a></li>  
			</ul>
			<div class="tab-content">
				<div id="maclar" class="tab-pane fade in active">
					<ul class="list-group">
					 {% for mac in fikstur %}
						<li class="list-group-item"> <b>{{mac.takım1}} - {{mac.takım2}}</b>         <small>{{mac.mac_saati}}</small> </li>
					{% endfor %}
						
					</ul>
				</div>
			
				 <div id="TV" class="tab-pane fade">
				 aaa
				 </div>
			
			</div>